# Dependencias
node_modules/

# Variables de entorno
.env
.env.local
.env.*.local

# Base de datos generada
storage/*.db
storage/*.db-journal
storage/*.sqlite

# Logs
logs/
*.log
npm-debug.log*

# Sistema
.DS_Store
Thumbs.db

# Editores
.vscode/
.idea/
*.swp
